[submodule "0x07-pointers_arrays_strings/0x07-pointers_arrays_strings/alx-low_level_programming"]
	path = 0x07-pointers_arrays_strings/0x07-pointers_arrays_strings/alx-low_level_programming
	url = https://github.com/Mucunguzi256/alx-low_level_programming
